


body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }


.btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: #c7cdd1;
    --bs-btn-border-color: #c7cdd1;
    --bs-btn-hover-color: #fff;
}
.bg-secondary {
background-color: #c7cdd1 !important;
}
.border-gray {
border: 1px solid gray;
}
  
/* Set the spacing between 30 and 40 pixels
.wd-dashboard-course {
    margin-bottom: 35px;  
}
*/



.card-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text-small {
    font-size: 0.38cm
}

.sidebar {
    height: 100vh;
  }


.gr-left-border {
border-left: 4px solid #28a745; 
}


.hidden-hyperlink {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.bg-solid-border {
    border: solid;
}

.bg-round-corner {
    border-radius: 50px;
}

.wd-border-gray {
    border-color: darkgray;
}


.wd-fg-color-green {
    color: #27AE60;
}

.wd-fg-gray {
    color: darkgray;
}

.wd-grid-col-main-content {
    width: 100%;
    float: left;
}
.text-area-height{
    height: 300px;
    
}

.narrow-element {
    width: 100%;
}

/* .wd-link {
    text-decoration: none; */
    /* color: inherit;
    display: block;
    padding: 0.5rem 1rem;
}

.wd-link.active {
    border-left: 4px solid black; 
    background-color: transparent; 
    color: black; 
} */